@{
    ViewBag.Title = "Acerca del Gimnasio";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Acerca del Gimnasio</h2>
            <p class="lead">Bienvenido a nuestro gimnasio, donde nos esforzamos por ayudarte a alcanzar tus objetivos de fitness y salud.</p>
            <p>En nuestro gimnasio, nos enorgullece ofrecer a nuestros miembros una experiencia excepcional de acondicionamiento físico. Nuestra misión es brindarte un lugar donde puedas trabajar en tu bienestar y alcanzar tus metas de acondicionamiento físico de manera efectiva y divertida.</p>
        </div>
        <div class="col-md-6">
            <img src="https://thumbs.dreamstime.com/b/gimnasio-24699087.jpg" alt="Gimnasio" class="img-fluid rounded-circle">
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-6">
            <h3>Nuestro Equipo</h3>
            <p>Nuestro equipo está compuesto por entrenadores altamente calificados que están comprometidos a ayudarte en tu viaje de acondicionamiento físico. También tenemos un personal amable y atento que está disponible para responder a tus preguntas y brindarte asistencia.</p>
        </div>
        <div class="col-md-6">
            <h3>Instalaciones y Servicios</h3>
            <p>Nuestras instalaciones están diseñadas pensando en ti. Ofrecemos equipos de última generación para tu rutina de ejercicios, una variedad de clases de fitness, como yoga, spinning y entrenamiento en grupo, así como zonas de relajación y recuperación para ayudarte a recargar energías.</p>
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-6">
            <h3>Horarios y Ubicación</h3>
            <p>Estamos ubicados en [Dirección del Gimnasio]. Nuestro gimnasio está abierto todos los días de la semana para adaptarse a tu horario. Consulta nuestro sitio web o comunícate con nosotros para conocer los horarios específicos y las clases disponibles.</p>
        </div>
        <div class="col-md-6">
            <h3>Contacto</h3>
            <p>Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto con nosotros en <a href="mailto:info@gimnasioejemplo.com">info@gimnasioejemplo.com</a> o llamando al [número de teléfono del gimnasio].</p>
        </div>
    </div>
</div>
